body {
  color: white;
  height: 100vh;
  background-color: #48a758;
  background-image: linear-gradient(45deg, rgba(0, 255, 137, 0.5) 10%, rgba(0, 127, 73, 0.7));
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

img {
	display: block;
	margin: 25px;
}