header {
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 100;
    background-size: cover;
    background-position: center;
    .header-content {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
            border: 7px white solid;
            height: 200px;
            width: 200px;
            margin: 50px;
        }
    }
}